
.exploreTopRight{
    position: relative;
}
.playIcon{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
}
.exploreLeftImg{
    height: 90px;
    border-radius: 15px;
    width: 148px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}    
.exploreTop{
    display: flex;
    align-items: center;
    justify-content: center;
}
 

.exploreFeed{
    margin-top: -70px;
    margin-bottom: calc(40px + 40px);
    cursor: pointer;
}
.exploreTopLeft{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 20px;
    
}
.exploreRightImg{
    height: 100px;
    opacity: 0.7;
    border-radius: 15px;
}
.exploreBottomImg{
    height: 130px;
    object-fit: cover;
    width: 105px;
    margin: 0 4px;
    border-radius: 15px;
}
.exploreBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(20px + 40px);
}
.videoImg{
    height: 100px;
    
}
















