
.classWrapper{
    margin-bottom: calc(29px + 40px);
}
.chatTop{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    position: sticky;
}
.chatUser{
    margin-bottom: 5px;
    
}
.topText{
    margin: 10px 20px;
    cursor: pointer;
}
.topText:hover{
    color: blueviolet;
}
.chatLeftImg{
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
}
.chatLeft{
    display: flex;
    align-items: center;
}
.chatListItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.chatListItem.status{
    display: none;
}
.chatCenter{
    margin: 15px ;
}
.chatRight{
    margin: 30px;
}
.chatListItem{
    display: flex;
    justify-content: space-between;
}
.statusSection{
    display: none;
}


.statusTop{
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.statusProfileImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.statusInfo{
    margin: 20px;
}
.statusCenter{
    margin: 20px 10px;
}
.greenDott{
    background-color: rgb(28, 226, 28);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: -4px;
}
.addStatus{
    position: relative;
}










