

.bottom{
    display: none;
}


@media screen and (max-width:600px){
    .bottom{
        display: flex;
       
        width: 100%;
    }
    .bottomWrapper{
        display: flex;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.34);
        width: 100%;
        position: fixed;
        bottom: -25px;
        background-color: white;
    }
    .bottomList{
        display: flex;
    }
    .botttomListItem{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 30px;
    }
    .bottomProfileImg{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 10px;
        cursor: pointer;
    }
    .bottonIcon{
        font-size: 30px;
        cursor: pointer;
    }
    .bottomText{
        font-family: 'Blaka', cursive;
    }
}